// FONTS
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

// Display flex
@mixin flex($align-items, $justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

// COLORS
$black-color: #000000;
$white-color: #ffffff;
// background colors
$bg-yellow: #f7eee3;
//button color
$btn-yellow-color: #fced70;
//footer
$footer-gray-color: #514f4d;
$footer-darkgray-color: #131313;

body {
    font-family: inter;
}
