html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    text-align: center;
    display: block;
}

main {
    width: 800px;
    margin: 64px auto;

}

img,
video {
    width: 100%;
}

p {
    line-height: 150%;
}

a {
    color: rgb(19, 19, 90);
    text-decoration: none;
}
.form_field{
    display: flex;
    flex-direction: column;
}
.form_field input, textarea{
    margin-bottom: 20px;
}
.form_field--inline{
    flex-direction: row;    
    margin: auto;
}

.form_field--button{
    min-width: 50px;
    max-width: 150px;
    margin: auto;    
}

.form_field--button input{
    background-color: green;
    color: white;
    border: none;
    padding: 15px;
}

.form_field--button input:hover{
    background-color: pink;
    color: white;
    border: none;
    padding: 15px;
}

.form_field--button input:active{
    background-color: blue;
    color: white;
    border: none;
    padding: 15px;
}