@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  font-family: Inter;
}

body {
  background: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  margin: 0 auto;
  position: relative;
}

header {
  color: #faff00;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .header__title {
  font-weight: 600;
  font-size: 40px;
}
header .header__subtitle {
  font-weight: 400;
  font-size: 24px;
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}

.articles {
  height: 100%;
  position: relative;
}

.nav__articles {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.nav__articles .nav__categories--list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  gap: 32px;
  padding: 0;
}
.nav__articles .nav__categories--list .nav__categories--item {
  font-weight: 600;
  color: white;
}
.nav__articles .nav__categories--list .nav__categories--item--special {
  font-weight: 600;
  position: absolute;
  bottom: 0;
  color: #faff00;
}

.articles__group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  position: absolute;
  margin: 0;
}
.articles__group .articles__group__item {
  background: #404040;
  border: 1px solid #5e5e5e;
  border-radius: 8px;
  max-width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  width: 100%;
}
.articles__group .articles__group__item img {
  width: 100px;
  height: 40%;
}
.articles__group .articles__group__item .article__content {
  color: white;
  font-style: 600;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
.articles__group .articles__group__item .article__content .article__title {
  font-weight: 600;
  margin: 0;
  font-size: 14px;
}
.articles__group .articles__group__item .article__content .article__text {
  font-weight: 400;
  margin: 0;
  font-size: 14px;
}
.articles__group .articles__group__item .article__content .article__date {
  color: #307bec;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
}

@media all and (min-width: 768px) {
  body {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
  }
  header .header__subtitle {
    width: 593px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .articles__group {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
  .articles__group .articles__group__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .articles {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .articles .nav__articles {
    width: 100%;
  }
  .articles .nav__articles .nav__categories--list {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 10px 0 10px;
  }
  .articles .nav__articles .nav__categories--list .nav__categories--item--special {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
  }
}/*# sourceMappingURL=styles.css.map */