// CSS RESET START
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// CSS RESET END
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$black-color: #000000;
$blue-color: #0064da;
$bg-gray: #f5f5f5;
$bg-brown: #220000;
$border-gray: #ecebeb;
$border-gray-nav: #dfdfdf;

body {
    margin: 0;
    font-family: inter;
}

@mixin flex($align-items, $justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}
.container__title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.container__text {
    width: 300px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.nav {
    @include flex(center, space-between);
    height: 64px;
    width: 100%;
    border-bottom: 1px solid $border-gray-nav;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;

    &__left {
        @include flex(center, center);
    }
    &__logo {
        width: 50px;
        display: inline-block;
    }
    &__list {
        @include flex(center, center);
        list-style-type: none;
        flex-direction: row;
        gap: 32px;
    }
    &__list--login {
        .nav__item--signup {
            background-color: $black-color;
            color: white;
            padding: 8px 16px 8px 16px;
        }
    }
    .mobile__hide {
        display: none;
    }
}
.btn {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 16px;
    font-family: inter;
    border: none;
}

.intro {
    padding: 46px 10px;
    &__container {
        @include flex(center, center);
        flex-direction: column;
        width: 100%;
        &__title,
        h1 {
            font-weight: 700;
            font-size: 40px;
            color: $black-color;
            text-align: center;
            width: 80%;
            margin: 0;
        }
        &__text {
            width: 80%;
            padding: 24px 0;
            margin: 0;
            text-align: center;
        }
        &__btn {
            @include flex(center, center);
            gap: 24px;
            .btn--trial {
                background: $blue-color;
                color: white;
            }
            .btn--learn {
                background: $black-color;
                color: white;
            }
        }
        &__video {
            width: 100%;
            padding: 24px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            video {
                width: 100%;
            }
            .btn--watch--more {
                border-radius: 32px;
                background-color: $blue-color;
                color: white;
                position: absolute;
                bottom: 3%;
            }
        }
    }
}
.about {
    position: relative;
    @include flex(center, center);

    .vertical__line {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 67px;
        background-color: black;
    }
    &__container {
        @include flex(center, center);
        flex-direction: column;
        background-color: $bg-gray;
        max-width: 100%;
        margin-top: calc(calc(67px / 12) * 9);
        &__title {
            padding: 23px 0;
        }

        &__text {
            padding: 0 0 10px 0;
        }
        &__image {
            width: 100%;
            padding: 16px;
            box-sizing: border-box;

            img {
                width: 100%;
                box-shadow: 0 2px 10px 2px rgba(5, 20, 73, 0.1);
            }
        }
    }
}
.cards {
    flex-direction: column;
    .cards__header {
        background: white;
        @include flex(center, center);
        flex-direction: column;
        width: 100%;
        padding: 32px 0 32px 0;
        &__text {
            padding: 21px 0;
        }
    }
    .cards__container {
        position: relative;
        .video__container {
            width: 100%;
            height: 500px;
            overflow: hidden;
            // video {
            // }
        }
        .card__wrapper {
            @include flex(center, center);
            flex-wrap: wrap;
            gap: 16px;
            position: absolute;
            top: -24px;
            max-width: 600px;

            .card__box {
                background: white;
                max-width: 180px;
                @include flex(center, center);
                flex-direction: column;
                text-align: center;
                border-radius: 4px;
                border: 1px solid $border-gray-nav;
                padding: 16px;
                box-sizing: border-box;

                &__circle {
                    background: $blue-color;
                    width: 44px;
                    aspect-ratio: 1;
                    border-radius: 50px;
                }
                &__title {
                    font-size: 14px;
                    font-weight: 400;
                    padding: 16px 0;
                }
                &__text {
                    font-size: 10px;
                    font-weight: 400;
                    text-align: center;
                }
            }
            .card__box:hover {
                background: $blue-color;
                color: white;
                border: none;
                .card__box__circle {
                    background: white;
                }
            }
        }
    }
}
.articles {
    @include flex(center, center);
    flex-direction: column;
    &__header {
        max-width: 350px;
        padding: 24px 0 24px 0;
    }
    .btn--articles {
        border-radius: 32px;
        background-color: white;
        color: black;
        border: 0.5px solid rgba(236, 235, 235, 1);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
    }
    .btn--articles:hover {
        background-color: $blue-color;
        color: white;
    }
    .btn--articles:active {
        background-color: $blue-color;
        color: white;
    }

    &__nav {
        @include flex(center, center);
        gap: 16px;
        .btn--articles--nav {
            font-size: 10px;
        }
    }
    .article__container {
        @include flex(center, center);
        flex-direction: row;
        flex-wrap: wrap;
        gap: 14px;
        padding: 48px 0;
        &__nav {
            width: 100%;
        }
        .article {
            width: 230px;
            // flex-wrap: wrap;

            .article__content {
                width: 100%;
                .article__image {
                    background: rgba(196, 196, 196, 1);

                    width: 100%;
                    height: 130px;
                }
                .btn--articles--content {
                    font-size: 8px;
                    margin: 8px 0;
                }
                .article__title {
                    font-size: 10px;
                }
                .article__author {
                    display: flex;
                    align-items: center;
                    padding-top: 8px;
                    flex-direction: row;
                    gap: 8px;
                    .author__image {
                        width: 20px;
                        height: 20px;
                        background-color: #000000;
                        border-radius: 13px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;

                        img {
                            height: 100%;
                            text-align: center;
                        }
                    }
                    .author {
                        font-size: 8px;
                    }
                }
            }
        }
    }
}
.advertising {
    background-color: $blue-color;
    color: white;
    padding: 10px;
    height: 380px;
    @include flex(center, center);
    &__content {
        @include flex(center, center);
        flex-direction: column;

        span {
            font-size: 32px;
            padding: 16px;
        }
        .btn--advertising {
            font-size: 14px;
            font-weight: 400px;
            color: $blue-color;
            background: white;
            padding: 8px 16px;
        }
    }
}

.subscribe__header,
.footer__category__header {
    font-weight: 700;
    font-size: 16px;
    padding-top: 16px;
}
.breakline {
    border-bottom: 1px solid #dfdfdf;
    // background-color: ;
    padding-top: 40px;
    width: 100%;
}

.footer {
    .subscribe {
        @include flex(center, center);
        flex-direction: column;

        .subscribe__inputsection {
            max-width: 700px;
            @include flex(center, center);
            gap: 8px;
            padding-top: 24px;
            .subscribe__input {
                height: 33px;
                padding: 8px;
                width: 240px;
                border: 1px solid $border-gray;
                border-radius: 3px;
            }
            input::placeholder {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.5);
            }

            .btn--input {
                background-color: $black-color;
                color: white;
                font-size: 14px;
                font-weight: 400;
            }
            .btn--input:hover {
                background-color: $blue-color;
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
            }
        }
        .subscribe__text {
            font-size: 14px;
            font-weight: 400px;
            padding: 16px 0;
        }
    }
    .footer__columns {
        @include flex(center, center);
        text-align: center;
        gap: 40px;
        .footer__category__header {
            padding: 16px;
        }
        ul {
            padding: 8px;
            li.footer__category__item {
                padding: 8px 0;
            }
        }
    }
    .footer__image {
        @include flex(center, center);
        padding: 16px 0;
    }
}

@media all and (min-width: 768px) {
    .container__title--desktop {
        font-size: 40px;
        font-weight: 500;
        margin: 0;
        padding: 64px 0 24px 0;
    }
    .container__text--desktop {
        font-size: 20px;
        width: 600px;
        margin: 0;
    }

    .nav {
        @include flex(center, space-between);

        .mobile__hide {
            display: inherit;
        }
        .nav__item:hover {
            color: $blue-color;
        }
        .nav__item--signup:hover {
            color: white;
            background-color: $blue-color;
        }
    }
    .intro {
        @include flex(center, center);
        padding: 50px 0px;
        &__container {
            max-width: 1000px;
            &__title,
            h1 {
                font-size: 64px;
            }

            &__text,
            p {
                font-size: 24px;
            }
            &__btn {
                .btn--trial:hover {
                    background-color: $black-color;
                }
                .btn--learn:hover {
                    background-color: $blue-color;
                }
            }

            &__video {
                video {
                    max-width: 600px;
                }
                .btn--watch--more {
                    bottom: 3%;
                }
            }
        }
    }
    .about {
        margin-top: 64px;
        .vertical__line {
            height: 100px;
            top: 0;
        }
        &__container {
            margin-top: calc(calc(100px / 12) * 7.5);
            width: 100%;

            &__image {
                max-width: 800px;
                img {
                    width: 100%;
                }
            }
        }
    }
    .cards {
        .cards__container {
            @include flex(center, center);
            justify-content: center;
            .video__container {
                height: 320px;

                video {
                    width: 100vw;
                }
            }
            .card__wrapper {
                align-items: center;
                .card__box:hover {
                    animation: card__move;
                    animation-duration: 0.5s;
                    animation-direction: alternate;
                    // animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
                }
                @keyframes card__move {
                    100% {
                        transform: translateY(-10px);
                    }
                }
            }
        }
    }
    .articles {
        &__header {
            max-width: 100%;
            padding: 24px 0 0 0;
        }
        &__nav {
            .btn--articles--nav {
                font-size: 12px;
            }
        }
    }
    .advertising {
        margin: auto;
        height: 240px;
        width: 90%;
        &__content {
            width: 95%;
            @include flex(center, space-between);
            flex-direction: row;
            .btn--advertising:hover {
                color: white;
                background-color: $black-color;
            }
        }
    }
    .subscribe__header,
    .footer__category__header {
        font-weight: 700;
        font-size: 16px;
        padding-top: 0;
    }
    .footer {
        padding: 48px;
        @include flex(flex-start, space-between);
        .subscribe {
            @include flex(start, flex-start);
        }
        .footer__columns {
            text-align: left;
            .footer__category__header {
                padding: 8px;
            }
            ul {
                .footer__category__item:hover {
                    color: $blue-color;
                }
                .footer__category__item:nth-child(1) {
                    padding-top: 32px;
                }
            }
        }
        .footer__image {
            padding: 0;
        }
    }
}
