@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: inter;
}

.container__title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.container__text {
  width: 300px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
}
.nav__left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__logo {
  width: 50px;
  display: inline-block;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  flex-direction: row;
  gap: 32px;
}
.nav__list--login .nav__item--signup {
  background-color: #000000;
  color: white;
  padding: 8px 16px 8px 16px;
}
.nav .mobile__hide {
  display: none;
}

.btn {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 16px;
  font-family: inter;
  border: none;
}

.intro {
  padding: 46px 10px;
}
.intro__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.intro__container__title,
.intro__container h1 {
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  text-align: center;
  width: 80%;
  margin: 0;
}
.intro__container__text {
  width: 80%;
  padding: 24px 0;
  margin: 0;
  text-align: center;
}
.intro__container__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.intro__container__btn .btn--trial {
  background: #0064da;
  color: white;
}
.intro__container__btn .btn--learn {
  background: #000000;
  color: white;
}
.intro__container__video {
  width: 100%;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.intro__container__video video {
  width: 100%;
}
.intro__container__video .btn--watch--more {
  border-radius: 32px;
  background-color: #0064da;
  color: white;
  position: absolute;
  bottom: 3%;
}

.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .vertical__line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 67px;
  background-color: black;
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f5f5;
  max-width: 100%;
  margin-top: 50.25px;
}
.about__container__title {
  padding: 23px 0;
}
.about__container__text {
  padding: 0 0 10px 0;
}
.about__container__image {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.about__container__image img {
  width: 100%;
  box-shadow: 0 2px 10px 2px rgba(5, 20, 73, 0.1);
}

.cards {
  flex-direction: column;
}
.cards .cards__header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 32px 0 32px 0;
}
.cards .cards__header__text {
  padding: 21px 0;
}
.cards .cards__container {
  position: relative;
}
.cards .cards__container .video__container {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.cards .cards__container .card__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  position: absolute;
  top: -24px;
  max-width: 600px;
}
.cards .cards__container .card__wrapper .card__box {
  background: white;
  max-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  padding: 16px;
  box-sizing: border-box;
}
.cards .cards__container .card__wrapper .card__box__circle {
  background: #0064da;
  width: 44px;
  aspect-ratio: 1;
  border-radius: 50px;
}
.cards .cards__container .card__wrapper .card__box__title {
  font-size: 14px;
  font-weight: 400;
  padding: 16px 0;
}
.cards .cards__container .card__wrapper .card__box__text {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}
.cards .cards__container .card__wrapper .card__box:hover {
  background: #0064da;
  color: white;
  border: none;
}
.cards .cards__container .card__wrapper .card__box:hover .card__box__circle {
  background: white;
}

.articles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.articles__header {
  max-width: 350px;
  padding: 24px 0 24px 0;
}
.articles .btn--articles {
  border-radius: 32px;
  background-color: white;
  color: black;
  border: 0.5px solid rgb(236, 235, 235);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
}
.articles .btn--articles:hover {
  background-color: #0064da;
  color: white;
}
.articles .btn--articles:active {
  background-color: #0064da;
  color: white;
}
.articles__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.articles__nav .btn--articles--nav {
  font-size: 10px;
}
.articles .article__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  padding: 48px 0;
}
.articles .article__container__nav {
  width: 100%;
}
.articles .article__container .article {
  width: 230px;
}
.articles .article__container .article .article__content {
  width: 100%;
}
.articles .article__container .article .article__content .article__image {
  background: rgb(196, 196, 196);
  width: 100%;
  height: 130px;
}
.articles .article__container .article .article__content .btn--articles--content {
  font-size: 8px;
  margin: 8px 0;
}
.articles .article__container .article .article__content .article__title {
  font-size: 10px;
}
.articles .article__container .article .article__content .article__author {
  display: flex;
  align-items: center;
  padding-top: 8px;
  flex-direction: row;
  gap: 8px;
}
.articles .article__container .article .article__content .article__author .author__image {
  width: 20px;
  height: 20px;
  background-color: #000000;
  border-radius: 13px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.articles .article__container .article .article__content .article__author .author__image img {
  height: 100%;
  text-align: center;
}
.articles .article__container .article .article__content .article__author .author {
  font-size: 8px;
}

.advertising {
  background-color: #0064da;
  color: white;
  padding: 10px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advertising__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.advertising__content span {
  font-size: 32px;
  padding: 16px;
}
.advertising__content .btn--advertising {
  font-size: 14px;
  font-weight: 400px;
  color: #0064da;
  background: white;
  padding: 8px 16px;
}

.subscribe__header,
.footer__category__header {
  font-weight: 700;
  font-size: 16px;
  padding-top: 16px;
}

.breakline {
  border-bottom: 1px solid #dfdfdf;
  padding-top: 40px;
  width: 100%;
}

.footer .subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .subscribe .subscribe__inputsection {
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 24px;
}
.footer .subscribe .subscribe__inputsection .subscribe__input {
  height: 33px;
  padding: 8px;
  width: 240px;
  border: 1px solid #ecebeb;
  border-radius: 3px;
}
.footer .subscribe .subscribe__inputsection input::-moz-placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.footer .subscribe .subscribe__inputsection input::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.footer .subscribe .subscribe__inputsection .btn--input {
  background-color: #000000;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.footer .subscribe .subscribe__inputsection .btn--input:hover {
  background-color: #0064da;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
}
.footer .subscribe .subscribe__text {
  font-size: 14px;
  font-weight: 400px;
  padding: 16px 0;
}
.footer .footer__columns {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}
.footer .footer__columns .footer__category__header {
  padding: 16px;
}
.footer .footer__columns ul {
  padding: 8px;
}
.footer .footer__columns ul li.footer__category__item {
  padding: 8px 0;
}
.footer .footer__image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

@media all and (min-width: 768px) {
  .container__title--desktop {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    padding: 64px 0 24px 0;
  }
  .container__text--desktop {
    font-size: 20px;
    width: 600px;
    margin: 0;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav .mobile__hide {
    display: inherit;
  }
  .nav .nav__item:hover {
    color: #0064da;
  }
  .nav .nav__item--signup:hover {
    color: white;
    background-color: #0064da;
  }
  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
  }
  .intro__container {
    max-width: 1000px;
  }
  .intro__container__title,
  .intro__container h1 {
    font-size: 64px;
  }
  .intro__container__text,
  .intro__container p {
    font-size: 24px;
  }
  .intro__container__btn .btn--trial:hover {
    background-color: #000000;
  }
  .intro__container__btn .btn--learn:hover {
    background-color: #0064da;
  }
  .intro__container__video video {
    max-width: 600px;
  }
  .intro__container__video .btn--watch--more {
    bottom: 3%;
  }
  .about {
    margin-top: 64px;
  }
  .about .vertical__line {
    height: 100px;
    top: 0;
  }
  .about__container {
    margin-top: 62.5px;
    width: 100%;
  }
  .about__container__image {
    max-width: 800px;
  }
  .about__container__image img {
    width: 100%;
  }
  .cards .cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
  }
  .cards .cards__container .video__container {
    height: 320px;
  }
  .cards .cards__container .video__container video {
    width: 100vw;
  }
  .cards .cards__container .card__wrapper {
    align-items: center;
  }
  .cards .cards__container .card__wrapper .card__box:hover {
    animation: card__move;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  @keyframes card__move {
    100% {
      transform: translateY(-10px);
    }
  }
  .articles__header {
    max-width: 100%;
    padding: 24px 0 0 0;
  }
  .articles__nav .btn--articles--nav {
    font-size: 12px;
  }
  .advertising {
    margin: auto;
    height: 240px;
    width: 90%;
  }
  .advertising__content {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .advertising__content .btn--advertising:hover {
    color: white;
    background-color: #000000;
  }
  .subscribe__header,
  .footer__category__header {
    font-weight: 700;
    font-size: 16px;
    padding-top: 0;
  }
  .footer {
    padding: 48px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer .subscribe {
    display: flex;
    align-items: start;
    justify-content: flex-start;
  }
  .footer .footer__columns {
    text-align: left;
  }
  .footer .footer__columns .footer__category__header {
    padding: 8px;
  }
  .footer .footer__columns ul .footer__category__item:hover {
    color: #0064da;
  }
  .footer .footer__columns ul .footer__category__item:nth-child(1) {
    padding-top: 32px;
  }
  .footer .footer__image {
    padding: 0;
  }
}/*# sourceMappingURL=styles.css.map */