body{
    background-color: rgb(239, 239, 239);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

p{
    margin:0;
}
main{
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}



.board{
    background-color: white;
    width: 25%;
    height: 240px;
    border-radius: 16px;
    padding-bottom: 15px;
    margin: 10px;
}


.board__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    margin: 0;
}
.board__header, h3{
    margin-top: 15px;
    font-weight: 300;
}

.dot--icon{
    border: 1px solid rgb(43, 35, 35);
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    width: 10px;
    height: 10px;

}

.dot--icon:hover{
    cursor: pointer;
    background-color: gainsboro;
}

.dot{
    height: 2px;
    width: 2px;
    background-color: black;
    border-radius: 50%;
    margin: 0 auto 2px auto; 
}


/*expenses board */

.board__category{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    
}

.btn {
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
}
.btn:hover {
    background-color: black;
    color: white;
}

.btn--tab{
    border: none;
    font-size: 8px;

}
.btn--tab.active{
    background-color: orange;
    color: white;
}

.board--line{
    border-bottom: 1px solid gainsboro;
    margin: 15px 15px 0px;
    
}

.board--category--content--value{
    margin-left:15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100px;
    margin-top: 10px;
}

.board--category--content--value p {
    font-size: 10px;
    color: gray;
    margin-top: 0px;

}
p.expenses--value{
    font-size: 20px;
    
    color: black;

}

.board__category__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.board__category__graphic__days{
    margin-top:20px;
    align-items: baseline;
   
    
}

.graphic{
    display: inline-block;
    margin: auto;
}



.graphic p{
    font-size: 8px;
    text-align: center;

    
}

.graphic--day--value{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 4px;

}
.graphic--box{
    background-color: gainsboro;
    border-radius: 8px;
}


.monday--box{
    height: 40px;
    width: 35px;

}

.tuesday--box{
    height: 60px;
    width: 35px;
    background-color: orange;

}

.wednesday--box{
    height: 50px;
    width: 35px;

}
.graphic--thursday{
    overflow: hidden;
    width: 20px;
        
}

.thursday--box{
    height: 70px;
    width: 35px;
}


/*schedule board */

.schedule__board{
    padding: 0 15px 0 15px;
    display: inline-block;
}

.schedule__board__payments{
    display: flex;
    justify-content: space-between;
    align-self: auto;
    margin-bottom: 6px;

}

.schedule__board__payments--active p{
    color: black;


}

.schedule--board--group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 70px;
}






.schedule--board--date{
    background-color: rgb(239, 239, 239);
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    padding: 3px;
    vertical-align: center;
    margin-right: 10px;

}
.schedule--board--date.active--yellow{
    background-color: rgb(255, 230, 0);
    
}

.schedule--board--date--month{
    font-size: 8px;
    color:gray ;
    margin-top: 5%;
}

.schedule--board--date--day{
    font-size: 12px;
    color: black;
}

.schedule--board--font{
    font-size: 12px;
    color: gray;
}
